body{
    margin: 0%;
    padding: 0%;
   
}
header{
    /*background-color: #FFFBB8;*/
    display: flex;
    flex-direction: row;
}
/*body{
    margin:0;
}*/

#jpg {
    margin: 5% 35% 5% 20%;
    width: 25vh;
    height: 10vh;
    
    display: block;
}

a{
    text-decoration: none;
    color: black!important;
    font-family: 'Advent Pro';
    font-size:1vw;
    font-weight: bold;
}
.nav{
    width: 50%;
    display: flex;
    text-align: center;
    align-self: baseline;
    background-color: black;
    
}
#headerjpg{
    height: 16vh;
    width: inherit;
    background-image: url("/assets/huellas-perro.jpg");
    background-position: center;
}
h1{
    font-family: 'Bad Script';
    font-size: 8vh;
    
    font-weight: bolder;
    margin:0;
    margin-inline-start: 0;
    text-align: center;
  
}
  
iframe{
    border-radius: 100%;
}
#box1{

    width: 40%;
    margin: 0 5vh 0 10vh;
}
#box {
    display: flex;
    flex-direction: row;
}
.card{
  margin:5% 3%;
  height: 80vh;
  
 }
.texto1{
 text-align: start;
 font-size: 1vh;

 }
 .flex{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
.boton_s{

    
    text-align: center;
    border: black double 3px;
}