*html{
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
 */
.middle{
    position: absolute;
    top: 65%;
    left: 6%;
    transform: translate(-50%,-50%);  
  }
  .btn{
    position: relative;
    display: block;
    color: white;
    border-radius: 25px;
    font-size: 3vh;
    font-family: "Advent Pro";
    text-decoration: none;
    margin: 2vh 0;
    border: 2px solid black;
    padding: 5% 7vh; 
    overflow: hidden;
    transition: 1s all ease;
    
  }
  .btn::before{
    background:#cbcfcd;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    
    width: 0%;
    height: 100%;
  }
  
  .btn1:hover::before{
    width: 100%;
  }
  
  
  .btn2::before{
    width: 100%;
    height: 0%;
  }
  .btn2:hover::before{
    height: 100%;
  }
  
  .btn3::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn3:hover::before{
    height: 380%;
  }
  
  .btn4::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .btn4:hover::before{
    height: 380%;
  }
.headerimg{
  width: inherit;
  height: 20vh;
  background-image: url("/assets/1500x500.jpg");
  background-position-x: right;
  background-position: center;
  
}
.barrita{
  width: inherit;
  background-color: black;
  height: 5vh;
  justify-self: baseline;
}
body{
  margin: 0%;
  background: black;
}
#logo{
  width: 40vh;
  height: 20vh;
  position: absolute;
  top: 15%;
  right: 36%;
}
#boton1{
  margin-top: 3vh;
}
h1{
  font-family: 'Bad Script';
  font-size: 3vh;
  padding-top: 15vh;
  font-weight: bold;
  margin:0;

}
#box1{
  display: flex;
  flex-direction: column;
  margin-left: 30vh;
}
p{
  font-family: 'Darker Grotesque';
  font-size: 22px;
  text-align: justify;
} 
.mapa{
  text-align: center;
  border-radius: 25vh;
}
#fondonegro{
  width: inherit;
  height: 100%;
  background-color: black;
}
section{
  background-image:url(/assets/fondocorazones.jpg);
  height: 100%;
  
}
.texto{
  width: 50%;
  padding-left: 10vh;
  margin-right: 10%;
}
 iframe{
  border-radius: 100%;
  position: absolute;
  top: 60vh;
  right:19vh;
  
}
.flex{
  display:flex;
}
.gatito{
  margin-top: 20vh;
  width: 50vh;
  height: 30vh;
}
.imgmenu{
  width: 3vh;
  height: 3vh;

}
.fondoform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif ;
  
  font-size: 2vh;
  height: 50vh;
  width: 50%;
  background: white;
  margin: 17vh 10vh 10vh 40vh; 
  border: rgb(0, 0, 0) double 5px;
  padding: 0 5vh;
}
.data1{
  display: block;
  margin: 1vh 0 0 0;
}
.data1 input{
  margin-left: 1vh;
}

input[type="submit"], input[type="reset"]{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #000;
  color: white;
  font-size: 2vh;
  border-radius: 25px;
  font-family:'Bad Script'


}
.botonesm{
  position:absolute;
  right: 20%;
  bottom: 30%;
}
form{
  margin:1vh 0vh 0vh 0vh;
}
